test-crc32
test-u8
test-u16
test-u32
test-u64
test-float
test-double
test-longdouble
test-u128
test-u32-cmp
test-memcmp
test-strcmp
test-transform
test-extint
test-custom-u256
test-u32-branchless
test-u32-branchless-unaligned
test-u32-computed
test-u32-computed-branchless
test-custom-u256-clutter
test-u32-computed-repeated
